package task

import (
	"github.com/kanatsanan6/todo-htmx-go/internal/views/layouts"
	"github.com/kanatsanan6/todo-htmx-go/types"
)

templ Index(tasks []*types.Task) {
	@layouts.Base() {
		for _, task := range tasks {
			<p class="underline text-lime-500">{ task.Title }</p>
			<p>{ task.Description }</p>
		}
	}
}
